.header{
    background-color: var(--oxford-blue-2);
    height: 50px;
    overflow: hidden;
}
.header h2{
    font-family: 'Kanit', sans-serif;
    font-size: 1.5em;
}
.mainLogo{
    font-size: 2.5em; 
    font-family: 'Reenie Beanie', cursive;
}
.login{
    margin-top: 10px;
    height: 30px;
    width: 120px;
    border-radius: 15px;
    background-color: var(--flickr-blue);
}
.navBox{
    height: 50px;
}
.navBox h2{
    margin: 10px 10px;

}
.navBox:hover{
    background-color: var(--flickr-blue);
}
.navBox h2:hover{
    color: #000 !important;
}
.login:hover{
    background-color: var(--dark-cornflower-blue);
}

.mod{
    border: 10px solid var(--cobalt-blue) !important;
}

.mdHeader{
    background-color: var(--cobalt-blue);
}
.btl{
    margin-left: auto !important;
}

.navProfile h2{
    font-family: 'Reenie Beanie', cursive;
    font-size: 1.6em;
    margin: 11px;
}

.navProfile img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.menuT{
    color: #fff;
    width: 25px;
    height: 25px;
    margin-top: 12.5px;
}

.navBoxT{
    height: 75px;
}
.navBoxT h2{
    margin: 20px 0;
}
.navBoxT:hover{
    background-color: var(--flickr-blue);
}
.navBoxT h2:hover{
    color: #000 !important;
}
.loginT{
    background-color: var(--flickr-blue);
}

.toggle{
    background-color: var(--oxford-blue-2);
}