:root{
  --lavender-web: #DBE8FFff;
  --blue-crayola: #2472FCff;
  --flickr-blue: #1E5FD2ff;
  --cobalt-blue: #184CA8ff;
  --dark-cornflower-blue: #12397Eff;
  --oxford-blue: #0C2654ff;
  --oxford-blue-2: #06132Aff;
  --black: #000000ff;
}